{{define "title"}}Go Air Mon{{end}}
{{define "content"}}

    <h1>Go Air Mon</h1>

    {{if .Session}}
        <div>Logged in with session {{.Session.Id}}</div>
    {{else}}
        <div>Not logged in</div>
    {{end}}
{{end}}